# Dependency directories
node_modules/

# dotenv environment variable files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm/eslint/cache
.npm
.eslintcache
.cache
.parcel-cache
.vite/
dist

